
.arrow {
	position: relative;
	left: 0;
	top: 0;
	.arrow1,
	.arrow2 {
		width: 0;
		height: 0;
		display: block;
		top: 0;
		/*兼容ie8-*/
		border-top: 10px transparent dashed;
		border-left: 0 transparent dashed;
		border-bottom: 10px transparent dashed;
	}
	.arrow1 {
		border-right: 10px red solid;
	}
	 
	.arrow2 {
		position: absolute;
		left: 1px;
		/*重要*/
		border-right: 10px white solid;
	}
}
 