#index{
	height: 100vh;
	>.index-title{
		padding-top: 10vh;
		text-align: center;
		font-size: 40px;
	}
	>.index-contents{
		margin: 10vh 0 0 0;
		padding-bottom: 80px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		.index-content{
			padding: 10px;
			width: 20%;
			min-width: 200px;
			cursor: pointer;
			>.index-content-title{
				font-size: 20px;
				text-align: center;
			}
			>.index-content-description{
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding-top: 30%;
				text-align: center;
				font-size: 16px;
			}
		}
	}
	>.foot{
		position: fixed;
		bottom: 0;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		color: #ffffff;
		background-color: #000000;
		padding: 10px 0;
		>a{
			text-align: center;
			color: #ffffff;
			cursor: pointer;
		}
	}
}


@media (max-width: 720px) {
	#index{
		display: flex;
		flex-direction: column;
		>.index-title{
			font-size: 8vw;
		}
		>.index-contents{
			flex: 1;
			flex-direction: column;
			justify-content: space-around;
			margin: 10px 0;
			>.index-content{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin: 0 auto;
				max-width: 300px;
				min-width: initial;
				width: 80vw;
				height: 20vh;
				>.index-content-title{
				}
				>.index-content-description{
					padding-top: 0;
				}
			}
		}
		>.foot{
		}
	}
}

@media (max-width: 200px) {
	#index{
		>.index-title{
			font-size: 16px;
		}
	}
}
@media (max-height: 470px) {
	#index{
		>.foot{
			position: initial;
			>div{
			}
		}
	}

}